<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <add key="AutogenNugetMirror" value="https://vendor-gitlab.csg.apple.com/api/v4/projects/984/packages/nuget/index.json" />
        <!-- The nuget.org source can be uncommented if we need to add more packages locally that are not yet in the mirror -->
        <!-- <add key="nuget.org" value="https://api.nuget.org/v3/index.json" /> -->
    </packageSources>
    <packageSourceCredentials>
        <AutogenNugetMirror>
            <add key="Username" value="nuget_username" />
            <add key="ClearTextPassword" value="ZzFAG4QKsrEVD_Fcdq5K" />
        </AutogenNugetMirror>
    </packageSourceCredentials>
</configuration>
